body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
}


.container {
    display: flex;
    max-width: 80%;
    margin: 100px auto 50px;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    margin-top: 50px;
}

.grid-item {
    text-align: left;
    line-height: 0.5;
}

.info {
    background-color: hsl(244, 38%, 16%);
    padding: 5% 10% 5% 7%;
    max-width: 70%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.picture-box {
    width: 100%;
   
}

.image {
    height: 100%;
    width: 100%;
    background-image: url('images/image-header-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 100%;
    opacity: 0.5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.color {
    background-color: hsl(277, 64%, 61%);
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1, h2 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 1.3rem;
}


.main-paragraph {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 2;
    font-size: 0.9rem;
}

.grid-item p {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 0.7rem;
    font-weight: 400;
}

p {
    font-family: 'Lexend Deca', sans-serif;
}

span {
    color: hsl(277, 64%, 61%);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: white; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}



@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column-reverse;
        width: 365px;
        margin: 0 auto;
    }

    .picture-box  {
        height: 200px;
        width: 87%;
        margin: 50px auto 0;
    }

    .color {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
    }

    .image {
        background-image: url('images/image-header-mobile.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
    }

    .info {
        padding-bottom: 50px;
        margin: 0 auto;
        text-align: center;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 10px;
    }

    .grid-layout {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 20px;
        margin-top: 20px;
    }

    .grid-item {
        text-align: center;
    }


    h1 {
        font-size: 1.7rem;
    }

    .main-paragraph {
        font-size: 0.9rem;
    }
}